@import "../../scss/base/vars";
@import "../../scss/mixins/flex_mixins";

.Tournament {
  @include flex-mix(column, flex-start, center);

  position: relative;
  height: calc(100vh - 4.375rem);
  padding: 2.75rem 1rem 0rem 1rem;

  .notice {
    @include flex-mix(row, center, start);

    margin-top: 2rem;
    padding: 0.8rem 0.6rem;
    border-radius: 0.3rem;

    background-color: #faef86;
    font-weight: 600;

    img {
      margin: 0.5rem;
    }
  }
  .settings_list {
    border-radius: 1.25rem;
    padding: 0.75rem 0;
    width: 100%;
    margin-top: 1.25rem;

    box-shadow: 0 0.125rem 0.625rem 0 rgba(0, 0, 0, 0.1);
    background: $Primary;

    .list_item {
      display: grid;
      grid-template-columns: 2fr 3fr;
      align-items: center;
      gap: 1rem;

      padding: 0.75rem 1.25rem;
      background: $Primary;

      &:not(:last-child) {
        border-bottom: 0.0625rem solid $Disabled-grey;
      }
      .title {
        @include flex-mix(row, flex-start, center);

        img {
          margin: 0.25rem;
        }
      }
    }
  }
  .players {
    margin: 2rem 0rem 2.25rem 0rem;

    .add_btn {
      @include flex_mix(column, center, center);
      position: relative; // Добавляем позиционирование

      margin: 2.25rem;
      img {
        margin: 0.625rem;
      }

      // Добавляем анимацию пульсации
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        width: 100%; /* Размер анимации, подстраивайте под ваш дизайн */
        height: 100%; /* Размер анимации, подстраивайте под ваш дизайн */
        border-radius: 50%;
        background-color: rgba(
          148,
          184,
          231,
          0.3
        ); /* Цвет анимации, подстраивайте под ваш дизайн */
        animation: pulse-animation 2s infinite; /* Длительность анимации и бесконечное повторение */
        z-index: -1; // Помещаем анимацию позади содержимого контейнера
        filter: blur(0.625rem); // Добавляем размытие
      }
    }
  }
  .confirm_btn {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@keyframes pulse-animation {
  0% {
    transform: scale(0.8); /* Начальный масштаб */
    opacity: 1; /* Начальная прозрачность */
  }
  50% {
    transform: scale(1.2); /* Увеличение масштаба */
    opacity: 0.5; /* Уменьшение прозрачности */
  }
  100% {
    transform: scale(0.8); /* Возврат к начальному масштабу */
    opacity: 1; /* Возврат к начальной прозрачности */
  }
}
