@import "../../scss/mixins/flex_mixins";
@import "../../scss/base/_vars";

.Login {
  @include flex-mix(column, flex-start, stretch);

  margin: 0 1.25rem;

  h1 {
    text-align: center;
    margin: 1.2rem;
  }

  img {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .error {
    @include flex-mix(row, center, center);
    margin-top: 1rem;
    color: $Error-red;
  }
  .hasAccount {
    @include flex-mix(row, center, center);
    margin-top: 3rem;

    span {
      margin-right: 0.25rem;
    }
    a {
      color: $Secondary;
    }
  }

  input {
    padding: 1rem 2rem;
    margin: 0.4rem 0;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;

    border-radius: 0.3rem;
    border: 0.0625rem solid $Disabled-grey;
    background: $Primary;
  }

  button {
    width: 100%;

    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 0.3rem;

    color: #232e3f;
    font-weight: 600;
  }
}
