// @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Ubuntu+Mono&display=swap');

// Fonts
$font-main: 'Open Sans', sans-serif;

// Colors
$Background: #f8f7f8;
$Primary: #fff;
$Secondary: #53657B;
$Basic: #333333;
$Disabled-grey: #E1E1E1;
$Success-green: #2ABD4A;
$Error-red: #D95757;

// breakpoints
$breakpoint_xxl: 75rem;
$breakpoint_xl: 64rem;
$breakpoint_md: 47.9375rem;
$breakpoint_sm: 36rem;
