// @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Ubuntu+Mono&display=swap');

// Fonts
// $font-main: 'Manrope', sans-serif;
// $font-second: 'Ubuntu Mono', sans-serif;

// Colors
$Background: #fff;
$Basic-text: #333;
$Main-dark: #123741;
$Main-main: #385a64;
$Main-light: #87a8b2;
$Secondary-Brown_dark: #68431c;
$Secondary-Brown: #a17d58;
$Secondary-Brown_light: #d0b69c;
$Secondary-Pink_dark: #68271c;
$Secondary-Pink: #a16258;
$Secondary-Pink_light: #d0a39c;
$Accent-Green_dark: #154d26;
$Accent-Green: #417751;
$Accent-Green_light: #8cbb9a;
$Accent-Blue_dark: #151f47;
$Accent-Blue: #424a6d;
$Accent-Blue_light: #8e96b6;
$Disabled-grey: #999;
$Negative-red: #e36a6a;
$Light-grey: #d9d9d9;

// breakpoints
$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;
